# Capstone Project - The Battle of the Neighborhoods 
### Applied Data Science Capstone by IBM/Coursera

## Table of contents
* [Introduction: Business Problem](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)



## Introduction: Business Problem <a name="introduction"></a>

### Prospects of a restaurant for lunch to the office area in London, United Kingdom

London, one of the most populous metroplitan area in the world. It is ranked first place in the global economic power index. Therefore, I beleive London is one of the best places for business entrepreneurs. 

This project aims to find the best location for lunch restaurant targeting the large pool of office workers in London.

## Data <a name="data"></a>

1. Get London Borough data from the internet, process the information to make necessary lists.
2. Getting Coordinates of major borough using Geopy
3. Use of Foursquare location data to locate restaurants in the region

## Methodology <a name="methodology"></a>

1. Scrapping for London Borough dataset from LondonDataStore https://data.london.gov.uk/
2. Using Foursquare Location Data
3. Folium Library for data Visualization
4. Use K-Means for clustering

In [1]:
import sys
import requests
import json

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors


import io
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans

In [13]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_6b56ec1513e34e5491d0e6e69e483210 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='pZEi3ZrlVIWaFTgajwL4RsO3Y-GA5iaakQDQzLlhCV1N',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_6b56ec1513e34e5491d0e6e69e483210.get_object(Bucket='capstoneprojectthebattleofneighbo-donotdelete-pr-qcgy8t4qn3wxn4',Key='land-area-population-density-london.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df= pd.read_excel(body)
df.head()

,Codes,Names,Borough,Population,Square Kilometres,Population per square kilometre
0,E09000001,City of London,City of London,7681,3.151,2437.638845
1,E05000026,Abbey,Barking and Dagenham,15297,1.279,11960.125098
2,E05000027,Alibon,Barking and Dagenham,11266,1.361,8277.736958
3,E05000028,Becontree,Barking and Dagenham,15088,1.284,11750.778816
4,E05000029,Chadwell Heath,Barking and Dagenham,11210,3.380,3316.568047

In [14]:
df.rename(columns={'Names':'Wards'}, inplace=True)

In [15]:
df.index = np.arange(1, len(df) + 1)
df.drop('Codes',axis=1, inplace=True)
df

,Wards,Borough,Population,Square Kilometres,Population per square kilometre
1,City of London,City of London,7681,3.151,2437.638845
2,Abbey,Barking and Dagenham,15297,1.279,11960.125098
3,Alibon,Barking and Dagenham,11266,1.361,8277.736958
4,Becontree,Barking and Dagenham,15088,1.284,11750.778816
5,Chadwell Heath,Barking and Dagenham,11210,3.380,3316.568047
6,Eastbrook,Barking and Dagenham,11100,3.454,3213.665316
7,Eastbury,Barking and Dagenham,12336,1.445,8537.024221
8,Gascoigne,Barking and Dagenham,14685,1.134,12949.735450
9,Goresbrook,Barking and Dagenham,12487,1.280,9755.468750
10,Heath,Barking and Dagenham,11995,2.005,5982.543641
11,Longbridge,Barking and Dagenham,12318,1.640,7510.975610
12,Mayesbrook,Barking and Dagenham,11433,1.851,6176.661264
13,Parsloes,Barking and Dagenham,10536,1.243,8476.267096
14,River,Barking and Dagenham,12003,3.552,3379.222973
15,Thames,Barking and Dagenham,15521,7.884,1968.670726
16,Valence,Barking and Dagenham,11685,1.293,9037.122970
17,Village,Barking and Dagenham,11350,2.140,5303.738318
18,Whalebone,Barking and Dagenham,12463,1.554,8019.948520
19,Brunswick Park,Barnet,16880,3.174,5318.210460
20,Burnt Oak,Barnet,20155,2.064,9765.019380
21,Childs Hill,Barnet,22395,3.089,7249.919068
22,Colindale,Barnet,27507,2.642,10411.430734
23,Coppetts,Barnet,17966,2.720,6605.147059
24,East Barnet,Barnet,16965,3.752,4521.588486
25,East Finchley,Barnet,17326,2.524,6864.500792
26,Edgware,Barnet,20359,5.560,3661.690647
27,Finchley Church End,Barnet,16980,2.709,6267.995570
28,Garden Suburb,Barnet,16806,4.731,3552.314521
29,Golders Green,Barnet,21036,2.978,7063.801209
30,Hale,Barnet,18483,5.422,3408.889709
...,...,...,...,...,...
597,Roehampton,Wandsworth,15965,4.424,3608.725136
598,St. Mary's Park,Wandsworth,19006,1.396,13614.613181
599,Shaftesbury,Wandsworth,14259,0.948,15041.139241
600,Southfields,Wandsworth,17799,1.522,11694.480946
601,Thamesfield,Wandsworth,17018,1.921,8858.927642
602,Tooting,Wandsworth,16880,1.604,10523.690773
603,Wandsworth Common,Wandsworth,14861,2.760,5384.420290
604,West Hill,Wandsworth,16729,1.688,9910.545024
605,West Putney,Wandsworth,15360,1.846,8320.693391
606,Abbey Road,Westminster,13074,1.095,11939.726027
607,Bayswater,Westminster,11556,0.518,22308.880309
608,Bryanston and Dorset Square,Westminster,13820,0.723,19114.799447
609,Churchill,Westminster,11897,0.609,19535.303777
610,Church Street,Westminster,12815,0.444,28862.612613
611,Harrow Road,Westminster,13642,0.495,27559.595960
612,Hyde Park,Westminster,15414,0.959,16072.992701
613,Knightsbridge and Belgravia,Westminster,10190,3.593,2836.070136
614,Lancaster Gate,Westminster,14991,0.630,23795.238095
615,Little Venice,Westminster,12338,0.636,19399.371069
616,Maida Vale,Westminster,11699,0.646,18109.907121
617,Marylebone High Street,Westminster,12056,1.001,12043.956044
618,Queen's Park,Westminster,13844,0.583,23746.140652
619,Regent's Park,Westminster,13575,2.256,6017.287234
620,St. James's,Westminster,14566,3.468,4200.115340
621,Tachbrook,Westminster,9233,0.444,20795.045045
622,Vincent Square,Westminster,11967,0.686,17444.606414
623,Warwick,Westminster,10447,0.574,18200.348432
624,Westbourne,Westminster,13907,0.674,20633.531157
625,West End,Westminster,13343,1.996,6684.869739
626,London,London,9006352,1594.719,5647.610645

In [18]:
# remove the last row , the total
df.drop(df.tail(1).index,inplace=True)
df

,Wards,Borough,Population,Square Kilometres,Population per square kilometre,Major_Bor_Coord
1,City of London,City of London,7681,3.151,2437.638845,"(51.5156177, -0.0919983)"
2,Abbey,Barking and Dagenham,15297,1.279,11960.125098,"(51.5541171, 0.150504342619943)"
3,Alibon,Barking and Dagenham,11266,1.361,8277.736958,"(51.5541171, 0.150504342619943)"
4,Becontree,Barking and Dagenham,15088,1.284,11750.778816,"(51.5541171, 0.150504342619943)"
5,Chadwell Heath,Barking and Dagenham,11210,3.380,3316.568047,"(51.5541171, 0.150504342619943)"
6,Eastbrook,Barking and Dagenham,11100,3.454,3213.665316,"(51.5541171, 0.150504342619943)"
7,Eastbury,Barking and Dagenham,12336,1.445,8537.024221,"(51.5541171, 0.150504342619943)"
8,Gascoigne,Barking and Dagenham,14685,1.134,12949.735450,"(51.5541171, 0.150504342619943)"
9,Goresbrook,Barking and Dagenham,12487,1.280,9755.468750,"(51.5541171, 0.150504342619943)"
10,Heath,Barking and Dagenham,11995,2.005,5982.543641,"(51.5541171, 0.150504342619943)"
11,Longbridge,Barking and Dagenham,12318,1.640,7510.975610,"(51.5541171, 0.150504342619943)"
12,Mayesbrook,Barking and Dagenham,11433,1.851,6176.661264,"(51.5541171, 0.150504342619943)"
13,Parsloes,Barking and Dagenham,10536,1.243,8476.267096,"(51.5541171, 0.150504342619943)"
14,River,Barking and Dagenham,12003,3.552,3379.222973,"(51.5541171, 0.150504342619943)"
15,Thames,Barking and Dagenham,15521,7.884,1968.670726,"(51.5541171, 0.150504342619943)"
16,Valence,Barking and Dagenham,11685,1.293,9037.122970,"(51.5541171, 0.150504342619943)"
17,Village,Barking and Dagenham,11350,2.140,5303.738318,"(51.5541171, 0.150504342619943)"
18,Whalebone,Barking and Dagenham,12463,1.554,8019.948520,"(51.5541171, 0.150504342619943)"
19,Brunswick Park,Barnet,16880,3.174,5318.210460,"(44.297316, -72.049713)"
20,Burnt Oak,Barnet,20155,2.064,9765.019380,"(44.297316, -72.049713)"
21,Childs Hill,Barnet,22395,3.089,7249.919068,"(44.297316, -72.049713)"
22,Colindale,Barnet,27507,2.642,10411.430734,"(44.297316, -72.049713)"
23,Coppetts,Barnet,17966,2.720,6605.147059,"(44.297316, -72.049713)"
24,East Barnet,Barnet,16965,3.752,4521.588486,"(44.297316, -72.049713)"
25,East Finchley,Barnet,17326,2.524,6864.500792,"(44.297316, -72.049713)"
26,Edgware,Barnet,20359,5.560,3661.690647,"(44.297316, -72.049713)"
27,Finchley Church End,Barnet,16980,2.709,6267.995570,"(44.297316, -72.049713)"
28,Garden Suburb,Barnet,16806,4.731,3552.314521,"(44.297316, -72.049713)"
29,Golders Green,Barnet,21036,2.978,7063.801209,"(44.297316, -72.049713)"
30,Hale,Barnet,18483,5.422,3408.889709,"(44.297316, -72.049713)"
...,...,...,...,...,...,...
595,Northcote,Wandsworth,15775,1.679,9395.473496,"(51.4570271, -0.1932607)"
596,Queenstown,Wandsworth,21066,3.208,6566.708229,"(51.4570271, -0.1932607)"
597,Roehampton,Wandsworth,15965,4.424,3608.725136,"(51.4570271, -0.1932607)"
598,St. Mary's Park,Wandsworth,19006,1.396,13614.613181,"(51.4570271, -0.1932607)"
599,Shaftesbury,Wandsworth,14259,0.948,15041.139241,"(51.4570271, -0.1932607)"
600,Southfields,Wandsworth,17799,1.522,11694.480946,"(51.4570271, -0.1932607)"
601,Thamesfield,Wandsworth,17018,1.921,8858.927642,"(51.4570271, -0.1932607)"
602,Tooting,Wandsworth,16880,1.604,10523.690773,"(51.4570271, -0.1932607)"
603,Wandsworth Common,Wandsworth,14861,2.760,5384.420290,"(51.4570271, -0.1932607)"
604,West Hill,Wandsworth,16729,1.688,9910.545024,"(51.4570271, -0.1932607)"
605,West Putney,Wandsworth,15360,1.846,8320.693391,"(51.4570271, -0.1932607)"
606,Abbey Road,Westminster,13074,1.095,11939.726027,"(39.8366528, -105.0372046)"
607,Bayswater,Westminster,11556,0.518,22308.880309,"(39.8366528, -105.0372046)"
608,Bryanston and Dorset Square,Westminster,13820,0.723,19114.799447,"(39.8366528, -105.0372046)"
609,Churchill,Westminster,11897,0.609,19535.303777,"(39.8366528, -105.0372046)"
610,Church Street,Westminster,12815,0.444,28862.612613,"(39.8366528, -105.0372046)"
611,Harrow Road,Westminster,13642,0.495,27559.595960,"(39.8366528, -105.0372046)"
612,Hyde Park,Westminster,15414,0.959,16072.992701,"(39.8366528, -105.0372046)"
613,Knightsbridge and Belgravia,Westminster,10190,3.593,2836.070136,"(39.8366528, -105.0372046)"
614,Lancaster Gate,Westminster,14991,0.630,23795.238095,"(39.8366528, -105.0372046)"
615,Little Venice,Westminster,12338,0.636,19399.371069,"(39.8366528, -105.0372046)"
616,Maida Vale,Westminster,11699,0.646,18109.907121,"(39.8366528, -105.0372046)"
617,Marylebone High Street,Westminster,12056,1.001,12043.956044,"(39.8366528, -105.0372046)"
618,Queen's Park,Westminster,13844,0.583,23746.140652,"(39.8366528, -105.0372046)"
619,Regent's Park,Westminster,13575,2.256,6017.287234,"(39.8366528, -105.0372046)"
620,St. James's,Westminster,14566,3.468,4200.115340,"(39.8366528, -105.0372046)"
621,Tachbrook,Westminster,9233,0.444,20795.045045,"(39.8366528, -105.0372046)"
622,Vincent Square,Westminster,11967,0.686,17444.606414,"(39.8366528, -105.0372046)"
623,Warwick,Westminster,10447,0.574,18200.348432,"(39.8366528, -105.0372046)"
624,Westbourne,Westminster,13907,0.674,20633.531157,"(39.8366528, -105.0372046)"

In [5]:
!conda install -c conda-forge geopy --yes

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1c             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    certifi-2019.9.11          |           py36_0         147 KB  conda-forge
    ca-certificates-2019.9.11  |       hecc5488_0         144 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.8.28-0                   --> 2019.9.11-hecc5488_0 conda-forge
    certifi:         2019.9.11-py36_0              --> 2019.9.11-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_2             --> 1.1.1c-h516909a_0    conda-forge


Downloading and Extracting Packages
openssl-1.1.1c       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
geopy-1.20.0         | 57 KB     | ##################################### | 100%
certifi-2019.9.11    | 147 KB    | ##################################### | 100%
ca-certificates-2019 | 144 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [21]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
df['Major_Bor_Coord']= df['Borough'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

df

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

GeocoderQuotaExceeded: HTTP Error 429: Too Many Requests

In [19]:
df[['Latitude', 'Longitude']] = df['Major_Bor_Coord'].apply(pd.Series)
df

,Wards,Borough,Population,Square Kilometres,Population per square kilometre,Major_Bor_Coord,Latitude,Longitude
1,City of London,City of London,7681,3.151,2437.638845,"(51.5156177, -0.0919983)",51.515618,-0.091998
2,Abbey,Barking and Dagenham,15297,1.279,11960.125098,"(51.5541171, 0.150504342619943)",51.554117,0.150504
3,Alibon,Barking and Dagenham,11266,1.361,8277.736958,"(51.5541171, 0.150504342619943)",51.554117,0.150504
4,Becontree,Barking and Dagenham,15088,1.284,11750.778816,"(51.5541171, 0.150504342619943)",51.554117,0.150504
5,Chadwell Heath,Barking and Dagenham,11210,3.380,3316.568047,"(51.5541171, 0.150504342619943)",51.554117,0.150504
6,Eastbrook,Barking and Dagenham,11100,3.454,3213.665316,"(51.5541171, 0.150504342619943)",51.554117,0.150504
7,Eastbury,Barking and Dagenham,12336,1.445,8537.024221,"(51.5541171, 0.150504342619943)",51.554117,0.150504
8,Gascoigne,Barking and Dagenham,14685,1.134,12949.735450,"(51.5541171, 0.150504342619943)",51.554117,0.150504
9,Goresbrook,Barking and Dagenham,12487,1.280,9755.468750,"(51.5541171, 0.150504342619943)",51.554117,0.150504
10,Heath,Barking and Dagenham,11995,2.005,5982.543641,"(51.5541171, 0.150504342619943)",51.554117,0.150504
11,Longbridge,Barking and Dagenham,12318,1.640,7510.975610,"(51.5541171, 0.150504342619943)",51.554117,0.150504
12,Mayesbrook,Barking and Dagenham,11433,1.851,6176.661264,"(51.5541171, 0.150504342619943)",51.554117,0.150504
13,Parsloes,Barking and Dagenham,10536,1.243,8476.267096,"(51.5541171, 0.150504342619943)",51.554117,0.150504
14,River,Barking and Dagenham,12003,3.552,3379.222973,"(51.5541171, 0.150504342619943)",51.554117,0.150504
15,Thames,Barking and Dagenham,15521,7.884,1968.670726,"(51.5541171, 0.150504342619943)",51.554117,0.150504
16,Valence,Barking and Dagenham,11685,1.293,9037.122970,"(51.5541171, 0.150504342619943)",51.554117,0.150504
17,Village,Barking and Dagenham,11350,2.140,5303.738318,"(51.5541171, 0.150504342619943)",51.554117,0.150504
18,Whalebone,Barking and Dagenham,12463,1.554,8019.948520,"(51.5541171, 0.150504342619943)",51.554117,0.150504
19,Brunswick Park,Barnet,16880,3.174,5318.210460,"(44.297316, -72.049713)",44.297316,-72.049713
20,Burnt Oak,Barnet,20155,2.064,9765.019380,"(44.297316, -72.049713)",44.297316,-72.049713
21,Childs Hill,Barnet,22395,3.089,7249.919068,"(44.297316, -72.049713)",44.297316,-72.049713
22,Colindale,Barnet,27507,2.642,10411.430734,"(44.297316, -72.049713)",44.297316,-72.049713
23,Coppetts,Barnet,17966,2.720,6605.147059,"(44.297316, -72.049713)",44.297316,-72.049713
24,East Barnet,Barnet,16965,3.752,4521.588486,"(44.297316, -72.049713)",44.297316,-72.049713
25,East Finchley,Barnet,17326,2.524,6864.500792,"(44.297316, -72.049713)",44.297316,-72.049713
26,Edgware,Barnet,20359,5.560,3661.690647,"(44.297316, -72.049713)",44.297316,-72.049713
27,Finchley Church End,Barnet,16980,2.709,6267.995570,"(44.297316, -72.049713)",44.297316,-72.049713
28,Garden Suburb,Barnet,16806,4.731,3552.314521,"(44.297316, -72.049713)",44.297316,-72.049713
29,Golders Green,Barnet,21036,2.978,7063.801209,"(44.297316, -72.049713)",44.297316,-72.049713
30,Hale,Barnet,18483,5.422,3408.889709,"(44.297316, -72.049713)",44.297316,-72.049713
...,...,...,...,...,...,...,...,...
595,Northcote,Wandsworth,15775,1.679,9395.473496,"(51.4570271, -0.1932607)",51.457027,-0.193261
596,Queenstown,Wandsworth,21066,3.208,6566.708229,"(51.4570271, -0.1932607)",51.457027,-0.193261
597,Roehampton,Wandsworth,15965,4.424,3608.725136,"(51.4570271, -0.1932607)",51.457027,-0.193261
598,St. Mary's Park,Wandsworth,19006,1.396,13614.613181,"(51.4570271, -0.1932607)",51.457027,-0.193261
599,Shaftesbury,Wandsworth,14259,0.948,15041.139241,"(51.4570271, -0.1932607)",51.457027,-0.193261
600,Southfields,Wandsworth,17799,1.522,11694.480946,"(51.4570271, -0.1932607)",51.457027,-0.193261
601,Thamesfield,Wandsworth,17018,1.921,8858.927642,"(51.4570271, -0.1932607)",51.457027,-0.193261
602,Tooting,Wandsworth,16880,1.604,10523.690773,"(51.4570271, -0.1932607)",51.457027,-0.193261
603,Wandsworth Common,Wandsworth,14861,2.760,5384.420290,"(51.4570271, -0.1932607)",51.457027,-0.193261
604,West Hill,Wandsworth,16729,1.688,9910.545024,"(51.4570271, -0.1932607)",51.457027,-0.193261
605,West Putney,Wandsworth,15360,1.846,8320.693391,"(51.4570271, -0.1932607)",51.457027,-0.193261
606,Abbey Road,Westminster,13074,1.095,11939.726027,"(39.8366528, -105.0372046)",39.836653,-105.037205
607,Bayswater,Westminster,11556,0.518,22308.880309,"(39.8366528, -105.0372046)",39.836653,-105.037205
608,Bryanston and Dorset Square,Westminster,13820,0.723,19114.799447,"(39.8366528, -105.0372046)",39.836653,-105.037205
609,Churchill,Westminster,11897,0.609,19535.303777,"(39.8366528, -105.0372046)",39.836653,-105.037205
610,Church Street,Westminster,12815,0.444,28862.612613,"(39.8366528, -105.0372046)",39.836653,-105.037205
611,Harrow Road,Westminster,13642,0.495,27559.595960,"(39.8366528, -105.0372046)",39.836653,-105.037205
612,Hyde Park,Westminster,15414,0.959,16072.992701,"(39.8366528, -105.0372046)",39.836653,-105.037205
613,Knightsbridge and Belgravia,Westminster,10190,3.593,2836.070136,"(39.8366528, -105.0372046)",39.836653,-105.037205
614,Lancaster Gate,Westminster,14991,0.630,23795.238095,"(39.8366528, -105.0372046)",39.836653,-105.037205
615,Little Venice,Westminster,12338,0.636,19399.371069,"(39.8366528, -105.0372046)",39.836653,-105.037205
616,Maida Vale,Westminster,11699,0.646,18109.907121,"(39.8366528, -105.0372046)",39.836653,-105.037205
617,Marylebone High Street,Westminster,12056,1.001,12043.956044,"(39.8366528, -105.0372046)",39.836653,-105.037205
618,Queen's Park,Westminster,13844,0.583,23746.140652,"(39.8366528, -105.0372046)",39.836653,-105.037205
619,Regent's Park,Westminster,13575,2.256,6017.287234,"(39.8366528, -105.0372046)",39.836653,-105.037205
620,St. James's,Westminster,14566,3.468,4200.115340,"(39.8366528, -105.0372046)",39.836653,-105.037205
621,Tachbrook,Westminster,9233,0.444,20795.045045,"(39.8366528, -105.0372046)",39.836653,-105.037205
622,Vincent Square,Westminster,11967,0.686,17444.606414,"(39.8366528, -105.0372046)",39.836653,-105.037205
623,Warwick,Westminster,10447,0.574,18200.348432,"(39.8366528, -105.0372046)",39.836653,-105.037205
624,Westbourne,Westminster,13907,0.674,20633.531157,"(39.8366528, -105.0372046)",39.836653,-105.037205

In [ ]:
df.drop(['Major_Bor_Coord'], axis=1, inplace=True)
df

Since we want to focus only on lunch restaurant for the office workers, we need to find out few of the best business area in London. From the article [Invest in London's boroughs](https://www.business.london/invest/insights/boroughs), I figure out the best ten boroughs are 
1. Barking & Dagenham
2. Brent
3. Bromley
4. City of London
5. Croydon
6. Enfield
7. Greenwich
8. Harrow
9. Hounslow
10. Kingston

Next we will use [Foursquare](https://developer.foursquare.com/) data to obtain information on restaurants. We can then start to do analysis with our battle of neighborhoods for opening a decend restaurant in London.

In [22]:

body = client_6b56ec1513e34e5491d0e6e69e483210.get_object(Bucket='capstoneprojectthebattleofneighbo-donotdelete-pr-qcgy8t4qn3wxn4',Key='business-floorspace-rateable-value-borough.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_2 = pd.read_excel(body)
df_2.head()

  Unnamed: 0  RV per metre2, £/m2   Office
0  Area Code                  Area     NaN
1  E09000001        City of London   301.0
2  E09000002  Barking and Dagenham   105.0
3  E09000003                Barnet   118.0
4  E09000004                Bexley    83.0

In [25]:
# get the rental value per metre for the office 
df_2.drop(df_2.head(1).index,inplace=True)
df_2

   Unnamed: 0      RV per metre2, £/m2   Office
1   E09000001            City of London   301.0
2   E09000002      Barking and Dagenham   105.0
3   E09000003                    Barnet   118.0
4   E09000004                    Bexley    83.0
5   E09000005                     Brent   124.0
6   E09000006                   Bromley   104.0
7   E09000007                    Camden   348.0
8   E09000008                   Croydon   117.0
9   E09000009                    Ealing   121.0
10  E09000010                   Enfield   110.0
11  E09000011                 Greenwich    98.0
12  E09000012                   Hackney   192.0
13  E09000013    Hammersmith and Fulham   238.0
14  E09000014                  Haringey    99.0
15  E09000015                    Harrow   114.0
16  E09000016                  Havering   124.0
17  E09000017                Hillingdon   134.0
18  E09000018                  Hounslow   138.0
19  E09000019                 Islington   229.0
20  E09000020    Kensington and Chelsea   363.0
21  E09000021      Kingston upon Thames   141.0
22  E09000022                   Lambeth   197.0
23  E09000023                  Lewisham    77.0
24  E09000024                    Merton   156.0
25  E09000025                    Newham   120.0
26  E09000026                 Redbridge   107.0
27  E09000027      Richmond upon Thames   183.0
28  E09000028                 Southwark   241.0
29  E09000029                    Sutton    87.0
30  E09000030             Tower Hamlets   224.0
31  E09000031            Waltham Forest   105.0
32  E09000032                Wandsworth   156.0
33  E09000033               Westminster   487.0
34        NaN                       NaN     NaN
35  E13000001              Inner London   322.0
36  E13000002              Outer London   125.0
37        NaN                       NaN     NaN
38  E12000001                North East    85.0
39  E12000002                North West    98.0
40  E12000003  Yorkshire and The Humber    98.0
41  E12000004             East Midlands    70.0
42  E12000005             West Midlands   102.0
43  E12000006                      East   113.0
44  E12000007                    London   280.0
45  E12000008                South East   114.0
46  E12000009                South West   100.0
47        NaN                       NaN     NaN
48  W92000004                     Wales    85.0
49  E92000001                   England   155.0
50  K04000001         England and Wales   152.0

## Analysis <a name="analysis"></a>

## Results and Discussion <a name="results"></a>

## Conclusion <a name="conclusion"></a>